n8n-workflow-rss-with-sheets.json
{
  "name": "AI Agent workflow with Google Sheets",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        -16,
        768
      ],
      "id": "303e9b4e-cc4e-4d8a-8ede-7550f070d212",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "=https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        112,
        768
      ],
      "id": "4090a753-f131-40b1-87c3-cf74d5a7e325",
      "name": "Get World News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        752
      ],
      "id": "651543b5-0213-433f-8760-57d62b8d6d64",
      "name": "Run every day at 7AM",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        544
      ],
      "id": "99f7bb9e-f8c0-43ca-a9a8-a76634ac9611",
      "name": "Output",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        544
      ],
      "id": "a0390291-6794-4673-9a6a-5c3d3a5d9e4b",
      "name": "Click 'Execute workflow' to run"
    },
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        480
      ],
      "id": "fac5929f-e065-4474-96b1-7bcc06834238",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        768
      ],
      "id": "b16482e8-0d48-4426-aa93-c3fee11dd3cd",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "Yff5Gi5xySCg4Tg1",
          "name": "OpenAi account"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "@[youtube](cMyOkQ4N-5M)",
        "height": 512,
        "width": 902,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -96
      ],
      "id": "ec65e69e-77fa-4912-a4af-49e0a248e2c8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\" \nToday is {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        544
      ],
      "id": "084d56aa-d157-4964-9073-b36d9d9589c5",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "### Double click here to see the results:",
        "height": 240,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        464
      ],
      "id": "a4b7a69a-0db8-4b9b-a81d-fd83378043a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 📰 Daily AI Summary\n\n\nThis workflow gets the latest news and asks AI to summarize it for you.\n\n⭐ Bonus: Send the summary via email by connecting your Gmail account\n\n▶ Watch the video to get started ",
        "height": 272,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        32
      ],
      "id": "74d80857-5e63-47a8-8e86-8ecd10fd5f9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "multiosh@gmail.com",
        "subject": "Your news daily summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        544
      ],
      "id": "45625d0d-bf26-4379-9eed-7bbc8e5d87a5",
      "name": "Send summary by email",
      "webhookId": "093b04f1-5e78-4926-9863-1b100d6f2ead",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "w4Ti5gSjhgMiXMjP",
          "name": "Gmail account"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -272,
        1040
      ],
      "id": "rss-read-tech-001",
      "name": "Read Tech News RSS",
      "notesInFlow": true,
      "notes": "Reads The Verge RSS feed"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -272,
        1200
      ],
      "id": "rss-read-world-001",
      "name": "Read World News RSS",
      "notesInFlow": true,
      "notes": "Reads BBC World RSS feed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        16,
        1120
      ],
      "id": "merge-rss-001",
      "name": "Merge RSS Feeds"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-title",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "format-url",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "format-date",
              "name": "published_date",
              "value": "={{ $json.pubDate || $json.isoDate }}",
              "type": "string"
            },
            {
              "id": "format-source",
              "name": "source",
              "value": "={{ $json.link.includes('theverge.com') ? 'The Verge' : 'BBC News' }}",
              "type": "string"
            },
            {
              "id": "format-description",
              "name": "description",
              "value": "={{ $json.contentSnippet || $json.content || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1120
      ],
      "id": "format-data-001",
      "name": "Format Article Data",
      "notesInFlow": true,
      "notes": "Formats data for Google Sheets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "published_date": "={{ $json.published_date }}",
            "source": "={{ $json.source }}",
            "description": "={{ $json.description }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        528,
        1120
      ],
      "id": "sheets-save-001",
      "name": "Save to Google Sheets",
      "notesInFlow": true,
      "notes": "Saves articles to spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📊 Google Sheets Integration\n\nSaves article titles, URLs, dates, and sources to a spreadsheet",
        "height": 160,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        944
      ],
      "id": "sticky-sheets-info",
      "name": "Sticky Note - Sheets Info"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Tech News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get World News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run every day at 7AM": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Tech News RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read World News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click 'Execute workflow' to run": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Tech News RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read World News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Send summary by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tech News RSS": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read World News RSS": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS Feeds": {
      "main": [
        [
          {
            "node": "Format Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "052f0515-c505-4f0b-a287-f37acf8273ea",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "63b2be0f08d2a5fb9db061ef28e83467612796856fd3f7bad404b2bb7342a9d6"
  },
  "id": "ryESl5VaM6OodsmZ",
  "tags": []
}
